<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Accessibility statement for <%= service_name %> form
        </h1>

        <p class="govuk-body">
            This website is run by the Competition and Markets Authority. 
            We want as many people as possible to be able to use this website. 
            For example, that means you should be able to:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>change colours, contrast levels and fonts</li>
            <li>zoom in up to 300% without the text spilling off the screen</li>
            <li>navigate most of the website using just a keyboard</li>
            <li>navigate most of the website using speech recognition software</li>
            <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)
            </li>
        </ul>

        <p class="govuk-body">
            We’ve also made the website text as simple as possible to understand.
        </p>

        <p class="govuk-body">
            <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.
        </p>

        <h2 class="govuk-heading-m">How accessible this website is</h2>

        <p class="govuk-body">
            During testing, no defects were identified.
        </p>
        
        <h2 class="govuk-heading-m">What to do if you cannot access parts of this website</h2>

        <p class="govuk-body">
            If you need assistance filling out this form, please email <a class="govuk-link" href="mailto:general.enquiries@cma.gov.uk">general.enquiries@cma.gov.uk</a> or call 020 3738 6511 or 020 3738 6144. If you are unable to get through to someone, please leave a voicemail and a member of the team will get back to you.
        </p>

        <h2 class="govuk-heading-m">
            Reporting accessibility problems with this website
        </h2>
        <p class="govuk-body">
            We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact: <a class="govuk-link" href="mailto:webteam@cma.gov.uk">webteam@cma.gov.uk</a> or General Enquiries, Competition and Markets Authority, The Cabot, 25 Cabot Square, London, E14 4QZ
        </p>

        <h2 class="govuk-heading-m">
            Enforcement procedure
        </h2>
        <p class="govuk-body">
            The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, contact the <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service (EASS)</a>.
        </p>

        <h2 class="govuk-heading-l">
            Contacting us by phone or email
        </h2>
        <p class="govuk-body">
            You can contact the CMA by phone on 020 3738 6000, or by email at <a class="govuk-link" href="mailto:general.enquiries@cma.gov.uk">general.enquiries@cma.gov.uk</a>
        </p>

        <h2 class="govuk-heading-l">
            Technical information about this website’s accessibility
        </h2>
        <p class="govuk-body">
            The Competition and Markets Authority is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
        </p>

        <p class="govuk-body">
            This website is partially compliant with the <a class="govuk-link" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> A and AA standard, due to the non-compliances listed below.
        </p>

        <h2 class="govuk-heading-l">
            Non accessible content
        </h2>
        <p class="govuk-body">
            The content listed below is non-accessible for the following reasons.
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Name and contact details</li>
            <li>I am reporting as</li>
            <li>Your address</li>
            <li>In what areas of the UK do you do business?</li>
            <li>Where in the UK do you consider the issue is being felt?</li>
        </ul>

        <h2 class="govuk-heading-m">
            Non compliance with the accessibility regulations
        </h2>
        <p class="govuk-body">
            Info and Relationships (Level A): There are portions of text which are repeated unnecessarily or which are being skipped. The team will explore how to fix this issue with future iterations, and in the meantime alternatives to the digital form are available for users affected.
        </p>

        <h2 class="govuk-heading-m">
            How we tested this website
        </h2>
        <p class="govuk-body">
            Accessibility testing was performed on this web service by Ten10 Solutions during February 2023. 
        </p>
        <p class="govuk-body">
            Testing was performed on Desktop and iPhone X devices using the Chrome and Safari browsers. Additional exploratory testing was performed for Android and Edge.  
        </p>
    </div>
</div>