<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            How we use your information
        </h1>
        <p class="govuk-body">This notice tells you how the Office for the Internal Market (OIM), which is part of the Competition and Markets Authority (CMA), will use:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>information that you provide about an issue in the UK internal market, i.e., the flow of goods and services between England, Northern Ireland, Scotland, and Wales</li>
          <li>your personal data</li>
        </ul>
        <p class="govuk-body">It includes the following sections:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="#info" class="govuk-link">Why is the OIM gathering information about the UK internal market?</a></li>
          <li><a href="#myinfo" class="govuk-link">Why is the OIM gathering my personal data?</a></li>
          <li><a href="#reports" class="govuk-link">Under what circumstances will the OIM share information that I provide in one of its reports?</a></li>
          <li><a href="#parties" class="govuk-link">Under what circumstances will the OIM share information that I provide with another third party?</a></li>
        </ul>
        <h2 id="info" class="govuk-heading-s">Why is the OIM gathering information about the UK internal market?</h2>
        <p class="govuk-body">The OIM provides advice and reports to the UK government and the devolved administrations on the functioning of the UK internal market, including on:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the impact of specific existing or proposed laws, rules and regulations, on request</li>
          <li>how effectively the UK internal market is working in general</li>
          <li>any other issues that the OIM identifies in the UK internal market</li>
        </ul>
        <p class="govuk-body">Information from businesses, consumers and related organisations is crucial in improving the OIM’s understanding of the UK internal market and in helping us to identify issues we may wish to report on.</p>
        <h2 id="myinfo" class="govuk-heading-s">Why is the OIM gathering my personal data?</h2>
        <p class="govuk-body">If you complete this form, you will need to provide:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your name</li>
          <li>either your email address or telephone number</li>
          <li>your town/city and the first half of your postcode</li>
        </ul>
        <p class="govuk-body">These details are ‘personal data’, which is information that relates to an individual who can be identified from it. We need to gather your personal data in order to respond to your submission and to ask for further information if required.</p>
        <p class="govuk-body">The CMA may collect, use and share your personal data when necessary for the purpose of exercising its statutory functions and its functions as a government department. The statutory functions to be carried out by the OIM, as part of the CMA, are set out in Part 4 of the United Kingdom Internal Market Act 2020.</p>
        <p class="govuk-body">Our <a href="%{link_info_charter}" class="govuk-link" target="_blank">personal information charter</a> sets out the standards you can expect from us when we collect, use or share personal data and provides details of your rights in relation to that personal data and how to contact us.</p>
        <p class="govuk-body">Some types of personal data, known as special category data, are particularly sensitive. These include data concerning health, personal data revealing political opinions and personal data revealing religious or philosophical beliefs. The Information Commissioner’s Office website includes <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/lawful-basis-for-processing/special-category-data/" class="govuk-link" target="_blank">more information about special category data</a>.</p>
        <p class="govuk-body">Do not enter particularly sensitive personal data into this webform unless absolutely necessary.</p>
        <h2 id="reports" class="govuk-heading-s">Under what circumstances will the OIM share information that I provide in one of its reports?</h2>
        <p class="govuk-body">The OIM produces reports that are shared with the UK government and the devolved administrations. OIM reports will also be published on the gov.uk website.</p>
        <p class="govuk-body">The OIM may only publish or share with others information that you provide to us in specific circumstances set out in legislation (principally Part 9 of the Enterprise Act 2002).</p>
        <p class="govuk-body">In particular, prior to publication or any such disclosure, we must have regard to the need for excluding, among other considerations and so far as is practicable:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>any information relating to the private affairs of an individual that we consider might significantly harm an individual’s interests</li>
          <li>any commercial information which, if published or shared, we consider might significantly harm the legitimate business interests of the undertaking to which it relates</li>
        </ul>
        <p class="govuk-body">We will redact, summarise or aggregate information in published reports where this is appropriate to ensure transparency whilst protecting legitimate consumer or business interests.</p>
        <h2 id="parties" class="govuk-heading-s">Under what circumstances will the OIM share information that I provide with another third party?</h2>
        <p class="govuk-body">The CMA may disclose information provided by you for the purposes set out in sections 241 to 243 of the Enterprise Act 2002 and section 31(6) of the United Kingdom Internal Market Act 2020, where we consider such disclosure to be appropriate.</p>
        <p class="govuk-body">Disclosure under these circumstances is subject to the same conditions as disclosure as part of an OIM report (see above).</p>
        <p class="govuk-body">There may be exceptional circumstances in which the CMA could be required to disclose your personal data, for example, as part of legal proceedings or if required to do so by a court. Unless an exemption applies, we may disclose the fact that you have provided information to us, and the information you have provided, in accordance with our obligations under the Freedom of Information Act 2000.</p>
        <p class="govuk-body">Unless we are unable to contact you, we will inform you of this beforehand and will limit any disclosure to that which is strictly required.</p>
        <p class="govuk-body">The information you provide will not otherwise be processed by, or shared with, the Department for Business, Energy and Industrial Strategy (BEIS).</p>
    </div>
</div>