<div class="govuk-cookie-banner confirmation" role="region" aria-label="Cookies on <%= service_name %>">
  <div class="govuk-cookie-banner__message govuk-width-container" role="alert">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-cookie-banner__content">
          <p><%= message %> You can <%= link_to 'change your cookie settings', cookies_path %> at any time.</p>
        </div>
      </div>
    </div>

    <div class="govuk-button-group">
      <form action="<%= request.url %>" method="get">
        <button class="govuk-button" data-module="govuk-button">
          Hide this message
        </button>
      </form>
    </div>
  </div>
</div>